<footer>
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="what-it-is">What it is</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="how-it-works">How it work</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="directory">Directory</a>
    </li>
    <li class="nav-item signup" routerLinkActive="active">
      <a class="nav-link" routerLink="signup">Signup</a>
    </li>
  </ul>
  <div>&copy; 2021 YUJ Designs. All rights reserved.</div>
</footer>
