<div class="form-wrapper">
  <h2>Log In</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" placeholder="Enter email" id="email" required [(ngModel)]="model.email"
        name="email" #email="ngModel" />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" id="password" required
        [(ngModel)]="model.password" name="password" #password="ngModel" />
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="loginVal( model.email, model.password)">Submit</button>
  </form>
</div>
