<div class="page-content">

  <div class="search-box">

    <div class="form-group">

      <input class="form-control form-control-md" type="text" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchText" (keyup)="searchItem($event)">

      <i class="fa fa-search" aria-hidden="true"></i>

    </div>

  </div>

  <div class="dir-list">
    <div class="dir-item-list">
      <yuj-product-card [productInfo]="item" class="directory-item" *ngFor="let item of filteredDirList; let i=index;">
      </yuj-product-card>
    </div>
    <p *ngIf="filteredDirList?.length == 0">No items found</p>

  </div>

</div>
